# Byte-compiled files.
__pycache__/
*.py[co]

# Cython output.
mpfr.c
mpfr.so

# Build output (covers docs and extension build)
build/

# Distribution
MANIFEST
dist/
bigfloat.egg-info/

# Coverage output.
.coverage
htmlcov